{% extends 'accounts/main.html' %} {% block content %}
<main>
  <div class="max-w-8xl px-4 py-1 sm:px-32 lg:px-32 lg:py-1 mx-auto">
    <h2 class="text-sm font-sm flex item-center gap-2 text-slate-600 py-2">
      <span
        ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </span>
      Orders
    </h2>
  </div>
  <!-- Features -->
  <!-- Card Section -->
  <div class="max-w-8xl px-4 py-5 sm:px-32 lg:px-32 lg:py-5 mx-auto">
    <!-- Grid -->
    <div class="mb-4">
      <h2 class="text-[18px] font-medium text-slate-700 uppercase">orders Activity</h2>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
      <!-- Card -->
      <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
        <div class="p-4 md:p-5 flex gap-x-4">
          <div class="flex-shrink-0 flex justify-center items-center size-[46px] bg-gray-100 rounded-lg dark:bg-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#33D178" viewBox="0 0 256 256">
              <path
                d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"
              ></path>
            </svg>
          </div>

          <div class="grow">
            <div class="flex items-center gap-x-2">
              <p class="text-xs font-medium uppercase tracking-wide text-gray-500">Orders Delivered</p>
              <div class="hs-tooltip">
                <div class="hs-tooltip-toggle"></div>
              </div>
            </div>
            <div class="mt-1 flex items-center gap-x-2">
              <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">{{ ordersDelivered }}</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
        <div class="p-4 md:p-5 flex gap-x-4">
          <div class="flex-shrink-0 flex justify-center items-center size-[46px] bg-gray-100 rounded-lg dark:bg-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
              />
            </svg>
          </div>

          <div class="grow">
            <div class="flex items-center gap-x-2">
              <p class="text-xs font-medium uppercase tracking-wide text-gray-500">Pending Orders</p>
            </div>
            <div class="mt-1 flex items-center gap-x-2">
              <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">{{ ordersPending }}</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Section -->
  <div class="max-w-8xl px-4 py-1 sm:px-32 lg:px-32 lg:py-1 mx-auto">
    <div class="w-full py-5 mx-auto">
      <h2 class="text-2xl font-normal gap-3 text-slate-600">Showing <span class="font-semibold">All Orders</span></h2>
    </div>
    <!-- Table Section -->
    <div class="w-full px-4 py-2 mx-auto">
      <!-- Card -->
      <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
              <!-- Header -->
              <div class="px-6 py-4 grid grid-cols-12 gap-3 md:flex md:justify-end md:items-center border-b border-gray-200 dark:border-gray-700">
                <!-- Input -->

                <!-- End Input -->

                <div class="flex gap-4 items-center">
                  <div class="flex items-center gap-4">
                    <a
                      class="block py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-sm border border-gray-300 bg-white text-gray-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      href="#"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#150404" viewBox="0 0 256 256">
                        <path
                          d="M212.24,83.76l-56-56A6,6,0,0,0,152,26H56A14,14,0,0,0,42,40V216a14,14,0,0,0,14,14H200a14,14,0,0,0,14-14V88A6,6,0,0,0,212.24,83.76ZM158,46.48,193.52,82H158ZM200,218H56a2,2,0,0,1-2-2V40a2,2,0,0,1,2-2h90V88a6,6,0,0,0,6,6h50V216A2,2,0,0,1,200,218Zm-43.76-62.24a6,6,0,0,1,0,8.48l-24,24a6,6,0,0,1-8.48,0l-24-24a6,6,0,0,1,8.48-8.48L122,169.51V120a6,6,0,0,1,12,0v49.51l13.76-13.75A6,6,0,0,1,156.24,155.76Z"
                        ></path>
                      </svg>
                      Export CSV
                    </a>
                  </div>
                  <div class="inline-flex gap-x-2">
                    {% comment %}
                    <a
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-sm border border-transparent bg-gray-800 text-white hover:bg-gray-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      href="{% url 'add-customer' %}"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
                        />
                      </svg>

                      Add Customer
                    </a>
                    {% endcomment %}
                  </div>
                </div>
              </div>
              <!-- End Header -->

              <!-- Table -->
              <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                <thead class="bg-gray-50 divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-start border-s border-gray-200 dark:border-gray-700">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"> Customer Name </span>
                    </th>

                    <th scope="col" class="px-6 py-3 text-start">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"> Product Name </span>
                    </th>
                    <th scope="col" class="px-6 py-3 text-start">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"> Quantity </span>
                    </th>

                    <th scope="col" class="px-6 py-3 text-start">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"> Ordered Date </span>
                    </th>

                    <th scope="col" class="px-6 py-3 text-start">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"> Status</span>
                    </th>

                    <th scope="col" class="px-6 py-3 text-start">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"> ACTION </span>
                    </th>
                  </tr>
                </thead>

                <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                  {% for order in orders %}
                  <tr>
                    <td class="h-px w-auto whitespace-nowrap">
                      <div class="px-6 py-2 flex items-center gap-x-3">
                        <p class="flex items-center gap-x-2">
                          <span class="text-sm text-gray-800 dark:text-gray-200">{{ order.customer.firstname }} {{ order.customer.lastname }}</span>
                        </p>
                      </div>
                    </td>
                    <td class="h-px w-auto whitespace-nowrap">
                      <div class="px-6 py-2">
                        <span class="text-sm text-gray-800 dark:text-gray-200">{{ order.product.product_name }}</span>
                      </div>
                    </td>
                    <td class="h-px w-auto whitespace-nowrap">
                      <div class="px-6 py-2">
                        <span class="text-sm text-gray-800 dark:text-gray-200">{{ order.quantity }}</span>
                      </div>
                    </td>
                    <td class="h-px w-auto whitespace-nowrap">
                      <div class="px-6 py-2">
                        <span class="text-sm text-gray-800 dark:text-gray-200">{{ order.date_ordered }}</span>
                      </div>
                    </td>
                    <td class="h-px w-auto whitespace-nowrap">
                      <div class="px-6 py-2">
                        <span class="text-sm text-gray-800 dark:text-gray-200">{{ order.status }}</span>
                      </div>
                    </td>

                    <td class="h-px w-auto whitespace-nowrap">
                      <div class="py-2 flex items-center ml-7 relative" x-data="{ open: false }">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          fill="#1b1818"
                          @click="open = ! open"
                          class="cursor-pointer"
                          viewBox="0 0 256 256"
                        >
                          <path
                            d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Z"
                          ></path>
                        </svg>
                        <span
                          class="flex flex-col gap-3 absolute left-0 top-10 py-2 px-4 bg-gray-100 rounded-lg z-20"
                          x-show="open"
                          @click.outside="open = false"
                        >
                          <a href="{% url 'edit-order' order.id %}" class="block text-[12px] font-medium">Edit Order</a>
                          <a href="{% url 'delete-order' order.id %}" class="block text-[12px] font-medium text-red-400">Delete Order</a>
                        </span>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table -->

              <!-- Footer -->
              <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700">
                <div>
                  <p class="text-sm text-gray-600 dark:text-gray-400"><span class="font-semibold text-gray-800 dark:text-gray-200"></span> results</p>
                </div>

                <div>
                  <div class="inline-flex gap-x-2">
                    <button
                      type="button"
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    >
                      <svg
                        class="flex-shrink-0 size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="m15 18-6-6 6-6" />
                      </svg>
                      Prev
                    </button>

                    <button
                      type="button"
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    >
                      Next
                      <svg
                        class="flex-shrink-0 size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="m9 18 6-6-6-6" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Footer -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Table Section -->
  </div>
</main>
{% endblock content %}
