{% extends 'accounts/main.html' %} {% block content %}
<main>
  <div class="max-w-8xl px-4 py-1 sm:px-32 lg:px-32 lg:py-1 mx-auto mb-8">
    <h2 class="text-sm font-sm flex item-center gap-2 text-slate-600 py-3">
      <a href="{% url 'home' %}">Dashboard</a>
      <span
        ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </span>
      Create Order
    </h2>
  </div>

  <div class="max-w-2xl px-4 py-1 lg:py-1 mx-auto border border-gray-200 rounded-xl">
    
    <div
      class="w-full bg-white rounded-lg  xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="w-full sm:p-8">
        <h1
          class="text-xl font-bold  text-gray-700 md:text-2xl mb-16"
        >
          Customer Order Form
        </h1>
        <form class="w-full " action="#" method="POST">
          {% csrf_token %}
         <div class="w-full flex justify-between gap-5 py-3 mb-3">
            <div class="flex-1">
                <label
                  for="firstname"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >{{ form.customer.label_tag }}</label
                >
                {{ form.customer }}
              </div> 
              <div class="flex-1">
                <label
                  for="lastname"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >{{ form.product.label_tag }}</label
                >
                {{ form.product }}
              </div>
         </div>
         <div class="w-full flex justify-between gap-5 py-3 mb-3">
            <div class="flex-1">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >{{ form.date_ordered.label_tag }}</label
                >
                {{ form.date_ordered }}
              </div> 
              <div class="flex-1">
                <label
                  for="phone_number"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >{{ form.date_delivered.label_tag }}</label
                >
                {{ form.date_delivered }}
              </div>
         </div>
         <div class="w-full flex justify-between  gap-5 py-3 mb-3">
          <div class="flex-1 py-3 mb-3">
            <label
            for="quantity"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{ form.quantity.label_tag }}</label
          >
          {{ form.quantity }}
          </div>
            <div class="flex-1 py-3 mb-3">
                <label
                  for="status"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >{{ form.status.label_tag }}</label
                >
                {{ form.status }}
              </div>
          
         </div>
                 
          <button
          type="submit"
          class="max-w-72 py-3 px-12 flex justify-center items-center gap-x-2  text-sm font-medium rounded-sm border border-transparent bg-gray-800 text-white hover:bg-gray-700"
        >
        <svg class="flex-shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
          </svg>

         Create Order
        </button>
         
        </form>
      </div>
   
</main>
{% endblock content%}
